*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/assets/sroie2019v1.tflite
app/src/main/assets/sroie2019v1new.tflite
app/src/main/assets/labels.txt
app/src/main/assets/vocab.txt

